<wicket:panel>
    <table class="table table-borderless">
        <tr>
            <th>ECDH Fingerprint:</th>
            <td><code wicket:id="ecdhFingerprint" id="ecdhFingerprint">Loading...</code></td>
        </tr>
        <tr>
            <th>RSA Fingerprint:</th>
            <td><code wicket:id="rsaFingerprint" id="rsaFingerprint">Loading...</code></td>
        </tr>
        <tr>
            <th>Keys Created:</th>
            <td><span wicket:id="keyCreatedAt" id="keyCreatedAt">Loading...</span></td>
        </tr>
    </table>
</wicket:panel>
